html, body{
    background-color: black;
    height: 100%; 
    margin-bottom: 0px;
    margin-top: 0px;

}

.container{
    background-color: white;
    width: 80%;
    /* height: 100%; */
    margin: auto;
}

#vus-logo{
    margin-left: 10px;
}

#vus-slogan{
    float: right;
    margin-right: 120px;
}

.navmenu{
    padding-left: 3px;
}

.navmenu li{
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 4px 0 0;
    color: gray;
}

#navmenu__home{
    border-bottom: 3px solid brown;
    padding-bottom: 4px;
    border-left-width: 2px;
    padding-left: 6px;
    padding-right: 5px;
}

#carousel__img{
    margin-left: 5px;
}

.title{
    text-align: center;
}

#inrtroduction__paragraph{ 
    width: 1020px;
    margin: auto;
    line-height: 1.5;
}