*{
    box-sizing: border-box;
}

html, body{
    background-color: black;
    height: 100%; 
    margin-bottom: 0px;
    margin-top: 0px;

}

.container{
    background-color: white;
    width: 80%;
    /* height: 100%; */
    margin: 0 auto;
}

#header__logo{
    margin-left: 10px;
    width: 30%;
}

#header__slogan{
    float: right;
    margin-right: 10%;
    width: 25%;
}

.navmenu{
    padding-left: 3px;
}

.navmenu li{
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 4px 0 0;
    color: gray;
}

#navmenu__home{
    border-bottom: 3px solid brown;
    padding-bottom: 4px;
    border-left-width: 2px;
    padding-left: 6px;
    padding-right: 5px;
}

#carousel__img{
    max-width: 99%;
    max-height: auto;
    margin-left: 0.5%;
    margin-right: auto;
}

.title{
    text-align: center;
}

#inrtroduction__paragraph{
    /* use max-width for text responsive  */
    max-width: 1020px;
    margin: 0 auto; 
    line-height: 1.5;
}

#line{
    width: 60%;
}